<div id="partial_complete">
<div id="title">
	<h2>Installation Complete!</h2>
</div>

<div id="content">
	<div class="wrapper">
		<h3>Congratulations!</h3>
		<p>Installation has been successfully completed.</p>

		<h4>Website address</h4>

		<p>Your website is located here: <a target="_blank" href="<?=$base_url?>"><?=$base_url?></a></p>

		<h4>Administration Area</h4>

		<p>Use the following link to log into the administration area: <a target="_blank" href="<?=$base_url?>admin"><?=$base_url?>admin</a></p>

		<p><em>Important!</em> The installation files were not deleted. Please delete the <strong>install.php</strong> script and the <strong>install_files</strong> directory manually.</p>

		<p>Thank you for choosing <?=APP_NAME?></p>
	</div>
</div>
</div>