<div id="partial_licence_information">
	<form action="<?php echo Phpr_Installer::get_request_uri() ?>" method="post" id="step_form">
		<input type="hidden" name="step" value="licence_information" />
		<input type="hidden" name="install_key" value="<?php echo Phpr_Installer::post('install_key') ?>" />
		
		<h1>Licence Information</h1>
		<p>Please enter the licence holder name and serial number in the form below. For more information please see <a href="<?=URL_DOCS?>" target="_blank">the documentation</a>.</p>
		<p><em>Important:</em> The information you provide will be sent to the <?=APP_NAME?> server to be validated. The operation could take several minutes depending on your Internet connection speed.</p>

		<?php 
			$error_field = '';

			if (isset($error)): 
				if ($error instanceof ValidationException)
					$error_field = $error->field;
		?>
		<?php endif ?>

		<fieldset>
			<div class="control <?php echo Phpr_Installer::error_marker($error_field, 'holder_name') ?>">
				<label for="holder_name">Holder Name</label>
				<input autocomplete="off" value="<?php echo Phpr_Installer::h(Phpr_Installer::post('holder_name')) ?>" type="text" name="holder_name" id="holder_name" class="text" />
			</div>
			<div class="control <?php echo Phpr_Installer::error_marker($error_field, 'serial_number') ?>">
				<label for="serial_number">Serial Number</label>
				<input autocomplete="off" value="<?php echo Phpr_Installer::h(Phpr_Installer::post('serial_number')) ?>" type="text" name="serial_number" id="serial_number" class="text" />
			</div>
		</fieldset>
		
		<div class="form-actions">
			<div class="pull-right">
				<input type="submit" name="form_action" class="button" value="Next" id="next_btn" />
			</div>
			<?php if (isset($error)): ?>
				<div class="pull-right">
					<div class="alert error"><?php echo Phpr_Installer::h($error->getMessage()) ?></div>
				</div>
			<?php endif ?>		
		</div>
	</form>
</div>

<script type="text/javascript">
	$(document).ready(function(){ 
		<?php if (!($error_field)): ?>
			$('#holder_name').focus();
		<?php else: ?>
			$('#<?php echo $error_field ?>').focus();
		<?php endif ?>
		
		$('#step_form').submit(function() {
			$('#next_btn').attr('disabled', true);
		});
	});
</script>